footer {
    position: absolute;
    bottom: 0%;
}

#left {
    left: 0px;
    bottom: 0;
    position: absolute;
    margin-right: -2px;
    width: 370px;
}


#right {
    position: absolute;
    text-align: end;
    width: 198px;
    left: 0px;
}
